/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 de mar de 2020, 17:27:08
    Author     : joaov
*/
body{
    background:url(../Imagem/fundo.gif) no-repeat fixed;
    background-size:cover;
    height: 100%;
    width: 100%;
    position: fixed;
    position: absolute;
}

footer{
    background-size: cover;
    margin-top: 10%;
}

.navbar-custom{
    background-color: #272760;
}

.textoAnimacao::after{
    content:'|';
    color: #0CFFE1;
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@media screen and (max-width: 590px) {

    h1{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }
    
    img.scaled {
        width: 100%;
    }