/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 de mar de 2020, 17:27:08
    Author     : joaov
*/
body {
    background: url(../Imagem/fundo.gif) no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    position: absolute;
}

footer {
    background-size: cover;
}

#imgBanner {
    background-image: url(../Imagem/card.gif);
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-top: 50px;
    background-size: cover;
}

#github {
    padding-top: 1em;
}

#lattes {
    background-image: url(../Imagem/card2.gif);
    background-color: #272760;
    background-repeat: no-repeat;
    margin-left: 2em;
    padding-right: 30em;
    background-size: cover;
    padding-top: 12em;
}

#tabela {
    width: 70rem;
}

.navbar-custom {
    background-color: #272760;
}

.textoAnimacao::after {
    content: '|';
    color: #0CFFE1;
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.glitch {
    font-size: 10rem;
    font-weight: lighter;
    text-transform: uppercase;
    position: relative;
    font-size:20px;
    color: #0CFFE1;
    text-shadow:
        0.05em 0 0 rgb(255, 0, 0, .75),
        0.025em 0.05em 0 rgb(0, 255, 0, .75),
        0.025em 0.05em 0 rgb(0, 0, 255, .75);
    animation: glitch 370ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow:
            0.05em 0 0 rgb(255, 0, 0, .75),
            -0.025em -0.05em 0 rgb(0, 255, 0, .75),
            0.025em 0.05em 0 rgb(0, 0, 255, .75);
    }

    14% {
        text-shadow:
            0.05em 0 0 rgb(255, 0, 0, .75),
            -0.025em 0.05em 0 rgb(0, 255, 0, .75),
            0.025em 0.05em 0 rgb(0, 0, 255, .75);
    }

    15% {
        text-shadow:
            -0.05em -0.025em 0 rgb(255, 0, 0, .75),
            0.025em 0.025em 0 rgb(0, 255, 0, .75),
            -0.05em -0.05em 0 rgb(0, 0, 255, .75);
    }

    49% {
        text-shadow:
            -0.05em -0.025em 0 rgb(255, 0, 0, .75),
            0.025em 0.025em 0 rgb(0, 255, 0, .75),
            0.05em -0.05em 0 rgb(0, 0, 255, .75);
    }

    50% {
        text-shadow:
            -0.025em -0.05em 0 rgb(255, 0, 0, .75),
            0.05em 0 0 rgb(0, 255, 0, .75),
            0 -0.05em 0 rgb(0, 0, 255, .75);
    }

    99% {
        text-shadow:
            0.025em 0.05em 0 rgb(255, 0, 0, .75),
            0.05em 0 0 rgb(0, 255, 0, .75),
            0 -0.05em 0 rgb(0, 0, 255, .75);
    }

    100% {
        text-shadow:
            -0.025em 0 0 rgb(255, 0, 0, .75),
            -0.025em -0.025em 0 rgb(0, 255, 0, .75),
            -0.025em -0.05em 0 rgb(0, 0, 255, .75);
    }
}

/*Se as animações estão desabilitadas  
@media(prefers-reduced-motion:reduce){
*,
::before,
::after{
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
}
}
*/

@media screen and (max-width: 590px) {

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    img.scaled {
        width: 100%;
    }

    td {
        margin-top: 2%;
        display: block;
    }

    #imgBanner {
        padding-right: 1em;
        width: 100%;
    }

    #descricao .card {
        padding-right: 1em;
        width: 100%;
    }

    #github .card {
        padding-right: 1em;
        width: 100%;
    }

    #octocat {
        width: 100%;
    }

    #lattes {
        background-image: url(../Imagem/card3.gif);
        padding-top: 0em;
        margin-left: 0em;
        padding-right: 1em;
        width: 100%;
    }

    #tabela {
        width: 100%;
    }

    .container {
        width: 80%;
    }

}

@media screen and (max-height: 490px) {

    td {
        margin-top: 2%;
        display: inline;
    }

    #imgBanner {
        padding-right: 1em;
        width: 100%;
    }

    #descricao .card {
        padding-right: 1em;
        width: 100%;
    }

    #github .card {
        padding-right: 1em;
        width: 100%;
    }

    #octocat {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    #lattes {
        background-image: url(../Imagem/card3.gif);
        padding-top: 0em;
        margin-left: 0em;
        padding-right: 1em;
        width: 100%;
    }

    #tabela {
        width: 100%;
    }

    .container {
        width: 80%;
    }
}